@import "../partial/base";
.register-form{
	margin-top: 1rem;
    .input-group{
        padding: 0 1.5rem;
        background-color: #fff;
        border-top: 0.1rem solid #c5c3c2;
        border-bottom: 0.1rem solid #c5c3c2;
    }
    input{
        display: block;
        width: 100%;
        border: none;
        padding: 1rem 0;
        outline:none;
        font-size:1.5rem;
    }
    .mobile-group{   
        border-bottom: 0.1rem solid #c5c3c2;
    }
    .picCode-group{
        border-bottom: 0.1rem solid #c5c3c2;
    }
    .sms-code-group{ 
    }
    .pic-code{
        vertical-align: middle;
        width: 60%;
        padding: 1rem 0;
        float:left;
    }
    .img{
        vertical-align: middle;
        width: 6rem;
        height: 2.8rem;
        float:right;
        
    }
    .confirm-btn{
        display: block;
        width: 92%;
        margin: 1.5rem auto 1rem;
        padding: 0.8rem 0;
        background-color: #38A2FA;
        border: none;
        border-radius: 0.3rem;
        color: #ffffff;
        font-size:1.5rem;
    }
    .sms-code{
        vertical-align: middle;
        width: 60%;
        padding: 1rem 0;
        float:left;
    }
    .btn-sms{
        width: 40%;
        display: inline-block;
        text-align: center;
        margin: 1rem 0;  
        padding-left:1rem;  
        border:none;   
        border-left: 0.1rem solid #c5c3c2;
        background: none;
        // border-radius: 0.3rem;
        // color:white;
        float:right;
        font-size:1.5rem;
    }
    .password{
        display: block; 
        width: 100%;
        padding: 1rem 0;        
    }
    .password-group{
        border-bottom: 0.1rem solid #c5c3c2;
    }  
    .error{
        font-size:1.2rem;
    } 
}