<div ng-include="'views/partial/header.html'"></div>
<form action="" class="setPassword-form" name="setpasswordForm" novalidate>
            <div>
                <input type="new-password" ng-model="password" placeholder="请输入6-16位的新密码"  ng-minlength="6" ng-maxlength="16" required>
                <input type="password"  ng-model="password1" placeholder="确认密码">
            </div>
            <button id="test1" ng-click="getSMSCode()">完成</button>
            <div class="error">
                <p class="error-field" ng-show="setpasswordForm.password.$dirty && setpasswordForm.password.$invalid">请输入正确格式的密码</p>
            </div>
    </form> 
