@import "../partial/base";
.my-commit{
  margin:0 auto;
  width:100%;
}
.all-commit{
  margin:0 0 0 3rem;
  font-size:1.2rem;
  line-height:2rem;
}
.list-info{
  font-size:1.5rem;
}
.content-text{
  margin:1.5rem 0 0 1.5rem;
  font-size:1.5rem;
}

.createTime{
  margin:2rem 0 0 1.5rem;
  font-size:1.5rem;
}
.verifiedstate{
  margin:2rem 0 0 3rem;
  font-size:1.5rem;
}