<div class="header">
    <h3>小太阳</h3>
</div>
<div class="home">
    <div class="head" data-ng-init="load1()">
        <div ng-repeat="item in formData1">
            <span class="username">{{item.ownername}}</span>
            <span>业主您好~</span>
            <span class="username">{{item.residence_name}}</span>
            <span>{{item.unit}}</span>
        </div>
    </div>
    <div class="notice">
        <h3>最新公告</h3>
        <ul class="message" data-ng-init="load2()">
            <li ng-repeat="item in formData2">
                <p>{{item.message}}</p>
            </li>
        </ul>
        <a href="#/messageList">更多</a>
    </div>
    <div class="field">
        <a href="#/visit">访客授权</a>
        <a href="#/money">缴费专区</a>
        <a href="#/maintain">维修保修</a>
    </div>
    <div>
</div>
<div class="main-bottom">
    <h3>小区一角</h3>
    <div class="photo">
        <img src="public/img/photo1.jpg" alt="">
        <img src="public/img/photo2.jpg" alt="">
        <img src="public/img/photo3.jpg" alt="">
        <img src="public/img/photo4.jpg" alt="">
    </div>
</div>
<div ng-include="'views/partial/footer.html'"></div>