.header{
    background-color: #38A2FA;
    color: #ffffff;
    height: 4rem;
    line-height: 4rem;
    h3{
        text-align: center;
    }
    a{
        color: #ffffff;
        position:absolute;
        left: 1rem;
    }
}